body {
    background-color: #f1f1f1;
}

table {
    background-color: #fcfcfc;
}

td > input, th > input {
    width: 100%;
    border: none;
    background-color: transparent;
}

th > input {
    font-size: 1.35em;
}

tr.game_scores > td {
    font-size: 1.2em;
}

tr.game_final_scores > td {
    font-size: 1.15em;
}

td > img {
    margin: 0 auto;
    width: 26px;
    height: 26px;
}